<html lang="tr">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="main.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="request.js"></script>
  <script src="index.js"></script>
</head>

<body>


  <div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <a href="#" id="menuGeneral"><i class="fa fa-dashboard fa-lg"></i> Genel</a>
        </li>
        <li data-toggle="collapse" data-target="#products" class="collapsed active">
          <a href="#" id="menuDevices"><i class="fa fa-gift fa-lg"></i> Cihazlar <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="products">
          <li><a href="#">Cihazlar</a></li>
        </ul>
        <li>
          <a href="#" id="menuAlarms"><i class="fa fa-bell-o fa-lg"></i>Alarmlar</a>
        </li>
        <li>
          <a href="#" id="menuDeviceConfigurations"><i class="fa fa-wrench fa-lg"></i>Cihaz Ayarları</a>
        </li>
        <li>
          <a href="#" id="menuUsers"><i class="fa fa-users fa-lg"></i> Kullanıcılar</a>
        </li>
        <li>
          <a href="#" id="menuAddDevice"><i class="fa fa-plus fa-lg"></i>Cihaz Ekle</a>
        </li>
      </ul>
    </div>
  </div>
  <div style="margin-left:23%;">

    <div class="row" style="margin-top:30px;">
      <div class="boxHeader">
        <span>Cihaz Ismi</span>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
      </div>

    </div>
  </div>

</body>

</html>